# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
# keep wrapper
!.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# Mac
.DS_Store

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Temporary
*.tmp